.mini-card {
    height: 10vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid var(--cardborderbody);
    border-top: 3px solid var(--cardbordertop);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.mini-card-body {
    height: 100vh;
    background-color: var(--carbody);
    padding: 1rem;
}